/* LeftSidebar.css */
.left-sidebar {
  width: 200px;
  height: 100;
  background-color: #505050;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:left;
  padding: 20px 0;
  transition: width 0.3s; 
  border: 1px solid #30475e;
}

.left-sidebar.dark-theme {
  background-color: #142d4c;
}

.left-sidebar.collapsed {
  width: 60px; 
}

.left-sidebar.dark-theme.collapsed {
  background-color: #142d4c;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 25px;
  transition: background-color 0.2s; 
  box-sizing: border-box; 
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  padding-left: 20px;
}

.theme-toggle {
  display: flex;
  align-items: center; 
  cursor: pointer;
  padding: 10px;
  margin-bottom: 180px;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
  padding-left: 13px;
  margin-right: 20px;
}


.menu-item.selected {
  background-color: #303030;
  padding: 8px; 
  display: flex;
  align-items:center;
  cursor: pointer;
  margin-bottom: 25px;
  transition: background-color 0.2s;
  box-sizing: border-box; 
  padding-left: 1px;
}
@media (max-width: 768px) {
 
  .left-sidebar {
    width: 60px; 
  }

  .left-sidebar.collapsed {
    width: 0; 
  }

  .left-sidebar.dark-theme {
    background-color: #142d4c;
  }

  .left-sidebar.dark-theme.collapsed {
    background-color: #142d4c;
  }
  
}