/* ContentArea.css */

.content-area {
  background-color: #f0f0f0;
  padding: 20px;
  flex-grow: 1; 
  overflow-y: auto; 
}


@media (max-width: 768px) {
  .content-area {
    
    padding: 10px; 
    font-size: 14px; 
  }
}





