/* ContentArea.css */

.content-area {
  background-color: #f0f0f0;
  padding: 20px;
  flex-grow: 1; /* Allow the content area to grow and fill available space */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* Style individual content components as needed */
.dashboard-content {
  /* Styles for the DashboardContent component */
  color:black;
}



/* Add styles for other content components as required */
